node_modules

.next
out
build
dist

# TypeScript
tsconfig.tsbuildinfo
.tsbuildinfo
*.tsbuildinfo

# Next.js
.next/

.env

.env.local
.env.development
.env.production

coverage

.vscode
.idea
.DS_Store

npm-debug.log
yarn-error.log
pnpm-debug.log